@font-face {
    font-family: 'TT Lakes Medium DEMO';
    src: url('TTLakesMediumDEMO.woff2') format('woff2'),
        url('TTLakesMediumDEMO.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes Condensed Bold DEMO';
    src: url('TTLakesCondensedBoldDEMO.woff2') format('woff2'),
        url('TTLakesCondensedBoldDEMO.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

